body {
  color: black !important;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
.profile-img {
  width: 300px;
  height: auto;
}
.one {
  float: right;
  width: 18%;
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 30px;
}
.second_skill {
  float: left;
  width: 25%;
  height: auto;
  margin-right: 40px;
}
.profile {
  margin-top: 40px;
  font-weight: bold;
  font-size: large;
}
.skill-row {
  text-align: left;
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

p {
  line-height: 2;
}

.intro {
  width: 27%;
  margin: auto;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento";
  font-size: 4.625rem;
  margin: 50px auto 0 auto;
  font-weight: normal;
  line-height: 2;
  position: relative;
  top: 10px;
}
h2 {
  color: #66bfbf;
  font-family: "montserrat", sans-serif;
  font-size: 2rem;
  padding-bottom: 2px;
  font-weight: normal;
}
a {
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
a,
h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.top-container {
  color: #66bfbf;
  background-image: url("images/cloud.png");
  position: relative;
  padding-top: 50px;
  background-color: #eaf6f6;
  height: 100%;
}

.we {
  text-decoration: underline;
}

.top-cloud {
  display: block;
  position: absolute;
  right: 20%;
}
.bottom-cloud {
  position: absolute;
  left: 20%;
}
hr {
  margin: 100px auto 100px auto;
  border-style: dotted;
  width: 3.9%;
  border-top: none;
  border-width: 10px;
  border-color: #eaf6f6;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container {
  font-weight: bold;
  padding: 50px 0 20px;
  background-color: #66bfbf;
  margin-top: 100px;
  padding-top: 30px;
}
.contact-msg {
  width: 24.5%;
  margin: 40px auto 60px;
}
